/* MainLayout.module.scss */
@use "../../../saas/breackpoints.scss" as *;

/* Navbar bottom spacing */
.mainNavbar {
  margin-bottom: 0rem;
  position: relative; // or sticky/fixed if you want it fixed
  z-index: 10; // above the background
}

/* Navbar Link customization */
.navLink {
  color: #ffffff;
  border-radius: 50px;

  &:hover {
    color: black !important;
    padding: 10px;
    background-color: aqua;
  }
}

/* Navbar brand customization */
.navbarBrand {
  font-weight: bold;
  font-size: 1.3rem;
}

/* Navbar collapse section */
.navbarCollapse {
  background-color: rgb(53, 92, 92);
  border-radius: 30px;
  padding: 10px;
  margin: 10px;
  width: 20%;
}

/* Container padding around pages */
.mainContainer {
  position: relative;
  min-height: 100vh;
  background-color: black; // fallback color
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  color: #fff;
  overflow: hidden;
  z-index: 1; // ensures content appears above the background

  @include respond-to(mobileLanscape) {
    padding-right: 20rem;
    flex-direction: column;
    text-align: center;
  }

  @include respond-to(mobile) {
    padding: 0rem;
    flex-direction: column;
    text-align: center;
  }
}

/* Fixed background image overlay */
.mainContainer::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("/1.jpg");
  background-size: 120%;
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.4); // Black overlay with 50% opacity
  background-blend-mode: darken;
  z-index: -1;

  @include respond-to(mobileLanscape) {
    background-size: 130%;
    background-position: 10% 40%;
  }

  @include respond-to(mobile) {
    background-size: 300%;
    background-position: 40% 50%;
  }
}
