/* Home.module.scss */
@use "../../saas//breackpoints.scss" as *;

.container {
  position: relative;
  min-height: 100vh;
  display: inline-block;
  align-items: center;
  justify-content: flex-start;
  color: #f1f5f9; // off-white for readability
  padding-left: 0rem;
  padding-right: 10rem;
}

.content {
  position: relative;
  z-index: 1;
  text-align: left;
  max-width: 700px;
  width: 100%; //Full screen
  background-color: rgba(15, 23, 42, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin: 20px;
  padding: 20px;
}

.title {
  font-size: 3rem;
  margin-bottom: 1rem;

  // Responsive adjustments for phone landscape
  @include respond-to(mobileLanscape) {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    text-align: left;
  }

  // Responsive adjustments for phone
  @include respond-to(mobile) {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    text-align: left;
  }
}

.subtitle {
  font-size: 1rem;
  text-align: left;
  display: inline-flex;

  // Responsive adjustments for phone landscape
  @include respond-to(mobileLanscape) {
    font-size: 0.7rem;
    text-align: left;
    margin: 0.3rem;
    padding: 0;
  }

  // Responsive adjustments for phone
  @include respond-to(mobile) {
    font-size: 0.5rem;
    text-align: left;
    margin: 0.25rem;
    padding: 0;
  }

  a {
    font-size: 0.75rem;
    color: #38bdf8;
    font-weight: 600;
    text-decoration: solid;

    &:hover {
      color: #14b8a6;
      text-decoration: underline;
    }
  }

  .linkWrapper {
    a {
      padding-left: 2rem;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease;

      // Responsive adjustments for phone landscape
      @include respond-to(mobileLanscape) {
        padding: 0;
      }

      // Responsive adjustments for phone
      @include respond-to(mobile) {
        padding: 0;
      }
    }
  }

  &:hover .linkWrapper a {
    opacity: 1;
    visibility: visible;
  }
}

.buttons {
  display: flex;
  gap: 1rem;
  justify-content: right;

  // Responsive adjustments for phone landscape
  @include respond-to(mobileLanscape) {
    gap: 1rem;
  }
  // Responsive adjustments for phone
  @include respond-to(mobile) {
    gap: 0.5rem;
  }
}

.buttonsCenter {
  display: flex;
  gap: 1rem;
  justify-content: center;

  // Responsive adjustments for phone landscape
  @include respond-to(mobileLanscape) {
    gap: 1rem;
  }
  // Responsive adjustments for phone
  @include respond-to(mobile) {
    gap: 0.5rem;
  }
}

.buttonsCenter button {
  background-color: rgba(56, 189, 248, 0.1); // soft blue background
  color: #f1f5f9;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
  // Responsive adjustments for phone landscape
  @include respond-to(mobileLanscape) {
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
    border-radius: 2px;
  }
  // Responsive adjustments for phone
  @include respond-to(mobile) {
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
    border-radius: 2px;
  }
}

.buttons button {
  background-color: rgba(56, 189, 248, 0.1); // soft blue background
  color: #f1f5f9;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
  // Responsive adjustments for phone landscape
  @include respond-to(mobileLanscape) {
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
    border-radius: 2px;
  }
  // Responsive adjustments for phone
  @include respond-to(mobile) {
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
    border-radius: 2px;
  }
}

.buttons button:hover,
.buttonsCenter button:hover {
  background-color: #14b8a6;
  color: #fff;
}
